.breadcrumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-block: 17px;
    padding-top: 10px;

    display: flex;
    align-items: center;
    font-size: 18px;

    &__item {
        &:not(:last-child) {
            margin-right: 13px;
        }

        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: #4E4C4C;
            }

            & .home {
                height: 28px;
                width: 50px;
                margin-right: -10px;

                &:hover {
                    fill: rgb(227, 181, 14);
                }
            }

            &.dark_mode svg {
                fill: #f2f2f2;
            }
        }

        a {
            display: flex;
            align-items: center;
        }

        &__text {
            font-weight: 500;

            color: #4E4C4C;
        }

        &.dark_mode &__text {
            color: #f2f2f2;
        }


        & .last-crumb {

            color: #817d7d;
            // color: #ce1212;
            font-style: italic;

            &.dark_mode {
                color: #d1d0d0;
            }
        }
    }




}